@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-one{
    background-image: linear-gradient(rgb(110, 110, 243),rgb(68, 49, 243));
    height: 450px;
    width: 250px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin:24px 0;
  
}
.section-one h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(236, 237, 241);
    margin:24px;
    font-family: poppins, sans-serif;

}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    align-self: center;
    background-image: linear-gradient(rgb(61, 61, 243),rgb(127, 114, 247));
    margin: auto;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-family: poppins, sans-serif;
}
.section-one h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin: 24px;
    font-family: poppins, sans-serif;

}
.section-one p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 24px;
    color: aliceblue;
    font-family: poppins, sans-serif;
}
.section-two{
    height: 450px;
    width: 270px;
    border-radius:0 20px 20px 0;
    align-items: center;
    justify-content: center;
    margin:24px 0; 
    background-color: rgb(233, 240, 240);
    
}
.section-two h2{
    display: flex;
    margin: 10px 24px;
    font-family: poppins, sans-serif;
}
.section-two ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 14px;

}
.section-two ul li{
    display: flex;
    list-style: none;
    margin: 10px;
    border-radius: 10px;
    width: 222px;
    height: 40px;
     
}
.section-two ul li img{
    margin: 5px 10px 5px 5px;

}
.section-two ul li  span{
    margin: 5px 10px 5px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
}
li:nth-child(1){
    background-color: rgb(238, 97, 121, 0.1);

}

li:nth-child(2){
    background-color: rgba(240, 218, 95, 0.1);
}

li:nth-child(3){
    background-color: rgba(97, 238, 97, 0.1);
}
li:nth-child(4){
    background-color: rgba(97, 123, 238, 0.1);
}

li:nth-child(1) span{
    color: rgb(245, 11, 57);
}
li:nth-child(2) span{
    color: rgb(220, 190, 20);
}
li:nth-child(3) span{
    color: rgb(38, 117, 62);
}
li:nth-child(4) span{
    color: rgb(20, 83, 220);
}

li:nth-child(1) p{
    color: darkgray;
   font-family: poppins, sans-serif;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
li:nth-child(2) p{
    color: darkgray;
    font-family: poppins, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}
li:nth-child(3) p{
    color: darkgray;
    font-family: poppins, sans-serif;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
li:nth-child(4) p{
    color: darkgray;
    font-family: poppins, sans-serif;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.section-two a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 4, 82);
    height: 57px;
    width: 222px;
    border-radius: 30px;
    margin: auto;
    text-decoration: none;
    color: aliceblue;

}